<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'Genuine News - ' + category.name}">Genuine News</title>
</head>
<body>
<h1 th:text="${category.name}">default</h1>

News in this category:
<br>
<ul>
    <li th:each="newsItem : ${category.newsItems}">
        <a th:href="@{'/news/' + ${newsItem.id}}" th:text="${newsItem.title}">default</a>
    </li>
</ul>
<br>

</body>
</html>
