<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genuine News - News</title>
</head>
<body>
<h1>Genuine News</h1>

Categories:
<br>

<ul>
    <li th:each="category : ${categories}">
        <a th:href="@{'/categories/' + ${category.id}}" th:text="${category.name}">default</a>
    </li>
</ul>

Top news:
<br>

<ol>
    <li th:each="newsItem : ${news}">
        <h2 th:text="${newsItem.title}">default</h2>
        <img th:src="${newsItem.image}" style="max-width: 420px;"/>
        <p th:text="${newsItem.lead}">default</p>
        <a th:href="@{'/news/' + ${newsItem.id}}">Read</a>
        <p th:text="${'Read ' + newsItem.timesRead + ' times'}">default</p>
    </li>
</ol>

<h2>Add new news item</h2>

<form th:object="${newnews}" method="POST" th:action="@{/news/}">
    <div>
        Title:
        <br>
        <input type="text" name="title"/>
        <br>
        Lead:
        <br>
        <input type="text" name="lead"/>
        <br>
        Image:
        <br>
        <input type="text" name="image"/>
        <br>
        Content:
        <input type="text" name="content"/>
        <br>
        Categories:
        <br>

        <div th:each="category : ${categories}">
            <input type="checkbox" th:value="${{category.id}}" th:field="*{categories}"/>
            <span th:text="${category.name}">category</span>
        </div>

        Authors:
        <br>
        <div th:each="author : ${authors}">
            <input type="checkbox" th:value="${{author.id}}" th:field="*{authors}"/>
            <span th:text="${author.name}">author</span>
        </div>
        <br>
        <input type="submit"/>
    </div>
</form>

</body>
</html>
